<a href="https://colab.research.google.com/github/Kanabee/LinearRegression_Prediction/blob/main/MTCARS_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("mtcars.csv")
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

# Linear Regression Model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

X =data[["hp","wt"]]
y = data[["mpg"]]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)
reg = LinearRegression().fit(X_train,y_train)
y_pred = reg.predict(X_test)
r2 = r2_score(y_test,y_pred)
print(f"Intercept : {reg.intercept_}")
print(f"Coef : {reg.coef_}")
print(f"R-square :  {r2}")

Intercept : [36.76504917]
Coef : [[-0.03429354 -3.7504792 ]]
R-square :  0.8194981903046352

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, y_pred,squared=False)
print(f"RMSE : {rmse}")

RMSE : 2.7242121623737243

In [ ]:
from sklearn.linear_model import Ridge,Lasso
score = []
for alpha in [0.1,1.0,10.0,100.0,1000.0]:
  ridge = Ridge(alpha = alpha)
  ridge.fit(X_train,y_train)
  y_pred_ridge = ridge.predict(X_test)
  score.append(ridge.score(X_test,y_test))
print(f"alpha : {score}")

alpha : [0.8189325338653026, 0.8125094343386439, 0.7275988479382554, 0.5435148556470819, 0.49861067020573513]

In [ ]:
score2 = []
for alpha in [0.1,1.0,10.0,100.0,1000.0]:
  lasso = Lasso(alpha = alpha)
  lasso.fit(X_train,y_train)
  y_pred_lasso =lasso.predict(X_test)
  score2.append(lasso.score(X_test,y_test))

print(f"alpha : {score2}")

alpha : [0.8151247282753517, 0.691339868591879, 0.5036839941136682, 0.5378669627775683, -0.01879931965895132]

# Logistic Regression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = data[["gear","mpg"]]
y = data[["am"]]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)
logreg = LogisticRegression().fit(X_train,y_train)
y_pred_log = logreg.predict(X_test)
logreg_score = logreg.score(X_test,y_test)
print(f"R-square : {logreg_score}")
train = pd.concat([X_test, y_test], axis='columns')
pred = pd.concat([train.reset_index(),pd.Series(y_pred_log, name='pred')], axis='columns')

pred

R-square : 0.75

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   index  gear   mpg  am  pred
0     29     5  19.7   1     1
1     15     3  10.4   0     0
2     24     3  19.2   0     0
3     17     4  32.4   1     1
4      8     4  22.8   0     1
5      9     4  19.2   0     0
6     30     5  15.0   1     0
7     25     4  27.3   1     1